<%- include("_header") -%>
<form action="" method="POST" class="student-form">
    <label for="id">ID:</label>
    <input type="number" id="id" name="id" value="<%= model[0].id %>" style="margin-left: 30px;" readonly><br><br>
    <label for="Name">Name:</label>
    <input type="text" id="name" name="name" value="<%= model[0].name %>"  style="margin-left: 9px;"><br><br>
    <label for="gender">Gender:</label>
    <select name="gender" id="gender">
      <option value="0" <%= model[0].gender == 0 ? "selected" : ""  %>>Male</option>
      <option value="1" <%= model[0].gender == 1 ? "selected" : ""  %>>Female</option>
      <option value="2" <%= model[0].gender == 2 ? "selected" : ""  %>>Other</option>
    </select><br><br>
    <label for="class">Class:</label>
    <input type="number" id="class" name="class" value="<%= model[0].class %>" style="margin-left: 13px;"><br><br>
    <input type="submit" value="Submit">
  </form>
<%- include("_footer") -%>